body {
    margin: 0;
    padding: 0;
    background: url('cswpp4.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
header {
    background: rgb(52,152,219);
    background: linear-gradient(45deg, rgba(52,152,219,1) 0%, rgba(46,204,113,1) 51%, rgba(231,76,60,1) 100%); 
    color: white;
    text-align: center;
    padding: 2em 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    color: #fffafa;
    padding: 2em;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
h2 {
    color: #ffffff;
}


.project {
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgb(2, 0, 19);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: rgb(255, 255, 255);
}
#sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#openSidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
